<div class="container">
    <% if (reportData = 'none') { %>
        <div class="alert alert-dark" role="alert" 
          style="margin-left: 7px; margin-top: 10px;">
            No existen registros que coinciden con los filtros seleccionados. 
            Por favor seleccione otros parámetros.
        </div>
      <% } %>
    <!-- TODO: TABLA -->
</div>