<%- include('../includes/head.ejs') %>

<link rel="stylesheet" href="/css/confirmEmail.css">
<link rel="stylesheet" href="/css/button.css">
<link rel="stylesheet" href="/css/subtitle.css">
<link rel="stylesheet" href="/css/input.css">
<link rel="stylesheet" href="/css/modal.css">

<main class="main-confirm-email">
    <div class="container-email">
        <div class="container-title-logo">
            <h1 class="title title-confirm-email">Restablecer contrase単a</h1>
            <img src="/imgs/logo.png" alt="">
        </div>
        <div class="form-container full-width">
            <form class="single-input-form" action="/usuarios/restablecer-contrasenia" method="POST">
                <input type="hidden" name="token" value="<%= token %>">
                <input type="hidden" name="type" value="Administrador">
                <div class="form-group">
                    <label for="password" class="text">Nueva contrase単a</label>
                    <div class="input-group">
                        <input type="password" id="password" name="password" class="text">
                        <span class="input-group-text" id="togglePassword">
                            <i class="bi bi-eye-slash"></i>
                        </span>
                    </div>
                    <small id="passwordError" class="error-message"></small>
                </div>
                <div class="form-group">
                    <label for="confirmPassword" class="text">Confirmar contrase単a</label>
                    <div class="input-group">
                        <input type="password" id="confirmPassword" name="confirmPassword" class="text">
                        <span class="input-group-text" id="toggleConfirmPassword">
                            <i class="bi bi-eye-slash"></i>
                        </span>
                    </div>
                    <small id="confirmPasswordError" class="error-message">
                        <% if (error) { %>
                            <%= error %>      
                        <% } %>
                    </small>
                </div>
                <div class="button-block">
                    <div class="button-container">
                        <button type="submit" class="btn button disabled button-primary">Cambiar contrase単a</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>

<script src="/js/validationPassword.js"></script>
<script src="/js/enableDisableButton.js"></script>

<%- include('../includes/foot.ejs') %>