<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Test Modal</title>
  <link rel="stylesheet" href="/css/modal.css">
</head>
<body>
  <%- include('../includes/modal', {
    titulo: '¿Estás segura que quieres registrar a Usuaro?',
    mensaje: 'Esto no se puede deshacer, ¿seguro de continuar?',
    botonConfirmacionTexto: '',
    botonConfirmacionLink: '',
    botonCancelarTexto: 'Cancelar',
    botonCancelarLink: '/cancelar'
  }) %>  
</body>
</html>
