.main-confirm-email {
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem 4rem 0 4rem;
}

.container-email {
    display: flex;
    flex-direction: column;
}

.container-title-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-title-logo img {
    width: auto;
    height: 100px;
    margin-right: 1rem;
}

.title-confirm-email {
    margin: 0;
}

.form-container.full-width {
    width: auto;
    max-width: none;
    padding-top: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 12px;
}

.button-block {
    width: 700px;
    margin: 2.5rem auto 0 auto;
    align-items: center;
}

.input-group-text {
    border: none;
    background-color: transparent;
}

.modal {
    display: none;
}

.single-input-form label.text {
    font-size: 1.4rem;
    margin-left: 0rem;
    margin-bottom: 0rem;
    margin-top: 0rem;
}

.single-input-form input.text {
    font-size: 1.2rem;
    margin-left: 0rem;
    margin-top: 0.5rem;
    padding: 0.5rem 1.5rem;
}

.form-group .error-message {
    font-size: 1rem;
    margin-top: 0rem;
    margin-bottom: 1rem;
}

.button-container button.disabled {
    border: 1px solid #182747;
}