/* filter */
.filter-container {
    max-width: 600px;
    height: fit-content;
}

.filter-toggle {
    display: inline-flex;
    overflow: hidden;
    border-radius: 10px;
}

.filter-toggle label {
    background-color: #ffffff;
    color: #182747;
    font-size: 1rem;
    padding: 0.6rem 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.filter-toggle label:hover {
    background-color: #8f8b88;
    color: white;
}

.filter-toggle input[type="radio"] {
    display: none;
}

.filter-toggle input[type="radio"]:checked + label {
    background-color: #182747;
    color: white;
}

