/* === INPUT === */
.input-container {
    font-family: 'Jaldi', sans-serif;
    margin: 0;
    font-weight: 500;
    font-size: 1.5rem;
  }
  
  .main-content {
    margin-left: 180px;
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
  }
  
  .form-container {
    width: 80%;
    max-width: 800px;
    padding: 3rem;
    border-radius: 0px;
  }
  
  .single-input-form .form-group {
    display: flex;
    flex-direction: column;
    color: #182747;
  }
  
  .single-input-form label {
    font-size: 1.8rem;
    color: #182747;
    margin-bottom: 1rem;
  }
    
  .single-input-form input::placeholder {
    color: #908C89;
    font-family: 'Jaldi', sans-serif;
    font-size: 1.3rem;
  }
  
  .error-message {
    color: #e74c3c;
    font-size: 0.8rem;
    margin-top: 10px;
    display: block;
    font-family: 'Jaldi', sans-serif;
    font-weight: bold;
  }
  
  .input-group {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .input-group input {
    width: 100%;
    padding-right: 3.5rem; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .input-group-text {
    position: absolute;
    right: 1rem;
    cursor: pointer;
    color: #182747;
    font-size: 1.5rem;
  }
  