/* === LOGIN === */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #304879;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    position: relative;
    background-color: #FEFEFE;
    border-radius: 20px;
    padding: 50px 40px;
    width: 80%;
    max-width: 869px;
    text-align: center;
    height: 775px;
}

.login-container h1 {
    font-size: 18px;
    margin: 10px 0 30px;
}

.form-group {
    text-align: left;
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-top: 7px;
    margin-bottom: 5px;
    margin-left: 60px;
    font-size: 30px;
}

.form-group input {
    width: 100%;
    max-width: 636px;
    height: 53px;
    padding: 10px;
    border-radius: 8px;
    margin-left: 60px;
    border: 1px solid #000000;
    font-size: 17px;
}

.forgot-password {
    display: block;
    margin-top: 15px;
    font-size: 20px;
    text-align: center;
}

.forgot-password a {
    color: #0056d2;
    text-decoration: none;
}

.login-button {
    margin-top: 20px;
    background-color: #908C89;
    color: white;
    padding: 12px;
    border: none;
    width: 100%;
    max-width: 499;
    border-radius: 8px;
    font-size: 30px;
    cursor: pointer;
    height: 71px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}

.login-button:enabled:hover {
    background-color: #082043;
}

.login-button:enabled {
    background-color: #0056d2;
    cursor: pointer;
}

.logo {
    width: 250px;
    margin-bottom: 7px;
    height: 235px;
}

.modal-corner {
    position: absolute;
    width: 150px;
    z-index: 10;
}

.top-right {
    top: -1px;
    right: -1px;
}

.bottom-left {
    bottom: -1px;
    left: -1px;
}

.input-group-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #555;
    cursor: pointer;
    font-size: 20px;
}

.input-group {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 636px;
    margin-left: 60px;
  }
  
  .input-group input {
    width: 100%;
    height: 53px;
    padding: 10px 40px 10px 10px; 
    border-radius: 8px;
    border: 1px solid #000000;
    font-size: 17px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    color: #182747;
    font-family: 'Segoe UI', sans-serif;
  }
  
  .input-group-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #555;
    cursor: pointer;
    font-size: 20px;
    z-index: 2;
  }
  