/* Switch */
.form-switch {
  display: flex;
  align-items: center;
  font-size: 1.5rem; /* Valor de escalamiento */
  padding: 0;
}

.form-check {
  margin-bottom: 0;
}

.form-check-input.custom-toggle {
  width: 2.5em;
  height: 1.4em;
  cursor: pointer;
  margin: 0;
}

/* estilo al hacer focus */
.form-check-input:focus {
  box-shadow: none;
}

.form-check-input.custom-toggle:checked {
  background-color: #1d2951;
  border-color: #1d2951;
}

/* Mostrar icono de checkmark y color cuando se haga check */
.form-check-input.custom-toggle:checked + .fa-check {
  opacity: 1;
}

/* Cambiar círculo de color cuando no este clickeado */
.form-check-input.custom-toggle:not(:checked) {
  --bs-form-switch-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='rgba(0%2C%200%2C%200%2C%200.45)'/></svg>");
  border-color: #8f8b88;
  border-width: 2px;
}

.form-check-input.custom-toggle:not(:checked) ~ .fa-xmark {
  opacity: 1;
}

/* Estilo de icono de checkmark */
.fa-check {
  pointer-events: none;
  position: relative;
  color: #1d2951;
  right: 1.6em;
  font-size: 0.6em;
  opacity: 0;
}

/* Estilo de icono de marca */
.fa-xmark {
  pointer-events: none;
  position: relative;
  color: #ffffff;
  right: 4.25em;
  font-size: 0.6em;
  opacity: 0;
}
