<link rel="stylesheet" href="/css/error.css">
<%- include('title.ejs', { title: 'Página no encontrada' }) %>
<%- include('navbar.ejs') %>

<div class="main-content">
  <h2 class="subtitle">
    Por favor selecciona una de las opciones a la izquierda para regresar a la página
  </h2>
</div>
