<link rel="stylesheet" href="/css/error.css">
<link rel="stylesheet" href="/css/button.css">
<link rel="stylesheet" href="/css/text.css">
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<%- include('title.ejs', { title: 'Página no encontrada' }) %>

  <% if (hasToken) { %>
    <%- include('navbar.ejs') %>
  <% } %>

  <% if (!hasToken) { %>
    <%- include('rectangle.ejs') %>
  <% } %>

  <% if (hasToken) { %>
    <div class="main-content">
      <h2 class="subtitle">
        Por favor selecciona una de las opciones a la izquierda para regresar a la página
      </h2>
    </div>
  <% } %>

  <% if (!hasToken) { %>
    <div class="main-content">
      <h2 class="subtitle">
        Por favor ingresa al login para acceder al sistema
        <a href="/" class="btn button button-primary large-button">Login</a>
      </h2>
    </div>
  <% } %>