<link rel="stylesheet" href="/css/error.css">
<%- include('title.ejs', { title: 'Error en la solicitud' }) %>
<%- include('navbar.ejs', { username: '', lastname: '', active: '' }  ) %>

<div class="main-content">
  <h2 class="subtitle">
    Por favor selecciona una de las opciones a la izquierda para regresar a la página
  </h2>
</div>
