<link rel="stylesheet" href="/css/button.css">
<link rel="stylesheet" href="/css/text.css">
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

<div class="button-container">
    <button type="button" class="btn button button-primary">Primary</button>
    <button type="button" class="btn button button-secondary">Primary</button>
</div>