<link rel="stylesheet" href="/css/input.css">

<div class="form-group input-container">
  <label for="email">Correo</label>
  <div class="input-group">
    <input type="email" id="email" name="email" placeholder="example@tubosGM.com">
  </div>
  <small id="emailError" class="error-message"></small>
</div>

<script src="/js/validationEmail.js"></script>