<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/input.css">

<div class="container my-4">
    <form>
        <div class="single-input-form">
            <div class="form-group">
                <textarea class="form-control" id="input50" maxlength="50"
                placeholder="Límite de 50 caracteres"></textarea>
            </div>
        </div>
    </form>
</div>

<div class="container my-4">
    <form>
        <div class="single-input-form">
            <div class="form-group">
                <textarea class="form-control" id="input100" maxlength="100"
                placeholder="Límite de 100 caracteres"></textarea>
            </div>
        </div>
    </form>
</div>