<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/noDataBanner.css">

<div class="no-data-banner container text-center my-4 py-3">
    <h3>Sin datos disponibles</h3>
    <p>Parece que aún no hay información para mostrar aquí.</p>
</div>