<link rel="stylesheet" href="/css/navbar.css">
<%- include('../includes/head.ejs') %>
<%- include('../includes/loader.ejs') %>

<aside class="side-navbar">
  <div>
    <div class="logo">GUACHI-no</div>
  </div>
</aside>

<script src="/js/loader.js"></script>
<script src="/js/index.js"></script>
