<link rel="stylesheet" href="/css/searchbar.css">

<div class="searchbar-container">
  <input
    type="text"
    name="q"
    class="searchbar-input"
    placeholder="<%= placeholder %>"
    id="liveSearchInput"
    data-endpoint="<%= endpoint %>"
    data-context="<%= context %>"
  />
</div>

<div class="search-results" id="searchResultsContainer"></div>

<script src="/js/searchbar.js"></script>