<link rel="stylesheet" href="/css/text.css">

<div>
    <p class="text">
        Si la direcci칩n de correo ingresada est치 asociada a una cuenta, recibir치s un correo con las instrucciones para restablecer tu contrase침a. Por favor, revisa tu bandeja de entrada y carpeta de spam
    </p>
</div>