<link rel="stylesheet" href="/css/statsButton.css">

<a href="/conductor/<%= userId %>" class="user-stats-button-container">
  <button class="user-stats-button">
    <span class="stats-text">Estadísticas</span>
    <img src="/imgs/statsImage.png" alt="Statistics icon">
  </button>
</a>
